.App {
  text-align: center;
  background: #afd4c0;
  height: 100vh;
}
.body{
  margin: 0;
}

.listing{
  height: 120px;
  width: 250px;
  background: #dedede
}

.header{
  background: #519872;
  height: 120px;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
}

.dashboard{
  background: #afd4c0
}

.wizard{
  background: #afd4c0
}